.htaccess
.DS_Store
.htaccess
error_log
wpresults.sublime-project
wpresults.sublime-workspace
wp-config.php

# WordPress #
############
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/uploads/
wp-content/upgrade/
wp-content/wp-cache-config.php
wp-content/endurance-page-cache/*
sitemap.xml
sitemap.xml.gz
wp-config.php
/.htaccess

# Logs and databases #
######################
*.log
*.sql
